In [1]:
import pandas as pd

1. Read the three files into python as dataframes

In [2]:
df1 = pd.read_csv('/content/file1.csv')

In [3]:
df2 = pd.read_csv('/content/file2.csv')

In [4]:
df3 = pd.read_csv('/content/file3.csv')

2. Show the DataFrame's shape.

In [5]:
df1.shape

(4008, 11)

In [6]:
df2.shape

(996, 11)

In [7]:
df3.shape

(7070, 11)

3. Standardize header names.

Voy a tomar los nombres de las columnas del dataframe 1 como referencia para ponérselos igual al df2 y df3. Después muestro los nombres de las columnas de los 3 df.

In [8]:
columnas_referencia = df1.columns

In [9]:
for df in [df2, df3]:
    df.columns = columnas_referencia

In [10]:
df1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [11]:
df2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [12]:
df3.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

4. Concatenate the three dataframes

In [13]:
data = pd.concat([df1, df2, df3], ignore_index=True)
data.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

5. Which columns are numerical?

In [14]:
columnas_numericas = df.select_dtypes(include=['number', 'float']).columns

In [15]:
columnas_numericas

Index(['GENDER', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Vehicle Class'],
      dtype='object')

6. Which columns are categorical?

In [16]:
columnas_categoricas = df.select_dtypes(include=['object']).columns

In [17]:
columnas_categoricas

Index(['Customer', 'ST', 'Education', 'Customer Lifetime Value', 'Policy Type',
       'Total Claim Amount'],
      dtype='object')

7. Understand the meaning of all columns

Customer: identificadores únicos para cada cliente en el conjunto de datos.

ST: estado (State) al que pertenece cada cliente.

GENDER: género de cada cliente.

Education: nivel educativo de cada cliente.

Customer Lifetime Value: el valor de por vida del cliente, que es una estimación del valor total que un cliente aportará a una empresa durante toda su relación comercial.

Income: ingreso anual del cliente.

Monthly Premium Auto: prima mensual del seguro de automóvil que paga el cliente.

Number of Open Complaints: número de quejas abiertas que tiene cada cliente.

Policy Type: tipo de póliza de seguro que tiene cada cliente.

Vehicle Class: clase de vehículo asegurado por cada cliente.

Total Claim Amount: total reclamado por cada cliente en su historial de reclamaciones.

8. Perform the data cleaning operations mentioned so far in class

Delete the column education and the number of open complaints from the dataframe.

In [19]:
data.drop(columns=['Education', 'Number of Open Complaints'], inplace=True)

Correct the values in the column customer lifetime value. They are given as a percent, so multiply them by 100 and change dtype to numerical type.

In [21]:
# Paso 1: Eliminar el signo de porcentaje de los valores
data['Customer Lifetime Value'] = data['Customer Lifetime Value'].str.rstrip('%')

# Paso 2: Convertir los valores a números flotantes y manejar los errores para aquellos valores que no tienen números
data['Customer Lifetime Value'] = pd.to_numeric(data['Customer Lifetime Value'], errors='coerce')

# Paso 3: Multiplicar los valores por 100
data['Customer Lifetime Value'] *= 100

Check for duplicate rows in the data and remove if any.

In [22]:
data.drop_duplicates(inplace=True)

Filter out the data for customers who have an income of 0 or less.

In [23]:
data.query("Income == 0")

,Customer,ST,GENDER,Customer Lifetime Value,Income,Monthly Premium Auto,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,69795359.0,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
3,WW63253,California,M,76458618.0,0.0,106.0,Corporate Auto,SUV,529.881344
7,CF85061,Arizona,M,72161003.0,0.0,101.0,Corporate Auto,Four-Door Car,363.02968
10,SX51350,California,M,47389920.0,0.0,67.0,Personal Auto,Four-Door Car,482.4
...,...,...,...,...,...,...,...,...,...
12063,WZ45103,California,5678.050167,NaN,0.0,76.0,Personal Auto,364.8,Four-Door Car
12065,RX91025,California,19872.262,NaN,0.0,185.0,Personal Auto,1950.725547,SUV
12066,AC13887,California,4628.995325,NaN,0.0,67.0,Corporate Auto,482.4,Two-Door Car
12071,TD14365,California,8163.890428,NaN,0.0,85.0,Corporate Auto,790.784983,Four-Door Car
12073,Y167826,California,2611.836866,NaN,0.0,77.0,Corporate Auto,369.6,Two-Door Car